name: normal

on:
    push:
        branches: [ master, zig-nightly ]
    pull_request:
        branches: [ master, zig-nightly ]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
              with:
                  submodules: true

            - name: Install Packages
              run: sudo apt-get install grub-pc-bin

            - name: Get Zig
              run: |
                ./scripts/zig.py download
                ./scripts/zig.py current-path >> $GITHUB_PATH

            - name: Build ISO Image
              run: make

            - name: Run Unit Tests
              run: make test
